   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #ffffff;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }


canvas {
    display: block;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image {
    border-radius: 50%; 
    width: 320px;
    padding: 10%;
    object-fit: cover;   
  }

  
  
  .header1 {
    font-family: 'Righteous', cursive;
    font-size: 6vw;
  }
  
  .header2 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.4vw;
  }
  
  .header3 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.2vw;
  }

  .header4 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1vw;
    color: #580045;
  }
  
  .link {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: inherit;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
  }
  
  .l1:hover {
    color: #1c62bd;
  }

  .l2:hover {
    color: #aa17ff;
  }

  .l3:hover {
    color: #b66100;
  }

  .l4:hover {
    color: #015e3a;
  }

  .l5:hover {
    color: #8b8d00;
  }

   .l6:hover {
      color : red ;
   }
  
  @media screen and (max-width: 785px) {
    .header1 {
      font-size: 8vw;
    }
    .header4{
      font-size: 6vw;
    }
    .header3{
      font-size: 6vw;
    }
    .link {
      font-size: 4vw;
    }
  }
  
  @media screen and (max-width: 765px) {
    body {
      text-align: center;
    }
    .header1 {
      font-size: 9vw;
    }
    .header2 {
      font-size: 2.5vw;
    }
    .header4 {
      font-size: 2.5vw;
    }
    .link1 {
      font-size: 5vw;
    }
    .image{
      width: 100px;
    }
  }
  
  @media screen and (min-width: 765px){
    .image{
      width: 300px;
    }
  }
  

  @media screen and (min-width: 1390px) {
    .header2 {
      font-size: 1.1vw;
    }
    .image{
      width: 340px;
    }
  }
